<nav class="py-6 lg:py-12 text-center" style="background-image: url('/assets/brick-dark.jpg');">
    <div class="flex items-center justify-center"><a href="http://www.sdmattress.com"><img src="/assets/sdlogo.png" style="display: flex; justify-content: center; padding-left: 35%; padding-right: 35%"></a></div>
    <div class="flex items-center justify-center mt-4">
        {{ settings:social }}
            <a href="{{ $url }}" class="ml-4" aria-label="{{ $name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-hot-pink" }}
            </a>
        {{ /settings:social }}
    </div>
</nav>
